button {
  background-color: yellow;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 120px;
  box-sizing: border-box;
  font-weight: 900;
  font-size: $font-size-sm;
  margin: 10px 0;

  &:hover {
    background-color: yellowgreen;
    transition: 3s;
  }
}
