form {
  margin-top: 100px;
  text-align: center;

  @include mediaquery--sm {
    margin-top: 125px;
  }
}

h3 {
  font-size: $font-size-lg;
  margin-bottom: 20px;
  font-weight: 550;
}

.control {
  box-sizing: border-box;
  width: 250px;
  margin: 0 auto;
}

input {
  width: 250px;
  max-width: 100%;
  font-size: $font-size-sm;
  display: block;
  margin-bottom: 15px;
}

button {
  background-color: yellow;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 120px;
  box-sizing: border-box;
  font-weight: 900;
  font-size: $font-size-sm;

  &:hover {
    background-color: yellowgreen;
    transition: 3s;
  }
}
