#header {
  .container {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
  }
}

.header-content {
  padding: 0 20px;
  height: 75px; 
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  background-color: #eee;

  @include mediaquery--sm {
    flex-direction: column;
  }
}
