body {
  position: relative;
  background-color: #eee;
}

header {
  padding: 0 20px;
  min-height: 75px;
  position: fixed;
  align-items: center;
  display: flex;
  top: 0;
  justify-content: space-between;
  width: 1400px;
  background-color: #eee;
  max-width: 100%;
  margin: 0 auto;

  @include mediaquery--sm {
    flex-direction: column;
  }

  h1 {
    font-size: $font-size-xl;
    padding-left: 20px;

    @include mediaquery--sm {
      font-size: $font-size-lg;
    }
  }
}

.nav-brand {
  display: flex;

  img {
    max-width: 100%;
    height: auto;
  }
}
