.header-link {
  display: flex;
  align-items: center;

  @include mediaquery--sm {
    flex-direction: column;
  }

  .nav-link {
    padding: 0 20px;

    @include mediaquery--sm {
      padding: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: $font-size-md;
  color: $primary-color;
}
