.container {
  margin-top: 60px;

  .row {
    justify-content: space-between;
  }
}

.media {
  display: flex;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &__left {
    display: flex;
    text-align: center;
    align-items: center;
    height: 125px;
    width: 20%;

    @include mediaquery--sm {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80%;

    @include mediaquery--sm {
      text-align: center;
      width: 100%;
      padding: 0 10px;
    }
    

    h2 {
      font-size: $font-size-lg;
      font-weight: 550;
    }

    p {
      font-size: $font-size-md;
    }
  }
}

.is-50x50 {
  width: 50px;
  height: 50px;
}

.img {
  display: block;
  height: auto;
  max-width: 100%;
}
