// Screen width
$sreen-pc: 1000px;
//$sreen-tablet: 769px !default;
$sreen-mobile: 768px !default;

// Col offset
$col-gutter: 16px !default;
$col-gutter-md: 24px !default;
$col-num: 12;

// Core corlor
$primary-color: #1f2020 !default;
//$warning-color: #fc9f00 !default;
//$danger-color: #fc4e5c !default;

// Font size
$font-size-base: 16px !default;
$font-size-xl: 32px !default;
$font-size-lg: 24px !default;
$font-size-md: 20px !default;
$font-size-sm: 14px !default;
